%h1 Log

%table.table.table-striped
  %thead
    %tr
      %td
        Tour
      %td
        State
      %td
        Investigateur
      %td
        Message

  %tbody
    - @events.each do |e|
      %tr
        %td
          = e.turn
        %td
          = e.actor_aasm_state
        %td
          = e.actor.translated_name
        %td
          = e.message

= will_paginate @events, renderer: BootstrapPagination::Rails