#board

  #token{ style: token_style }
    = image_tag( "tokens/#{@pos.code_name}.png" )

  - @aval_destinations.each do |destination|
    = link_to "/maps?zone_id=#{destination.id}&zone_class=#{destination.class}", method: :put do
      - if destination.class == WWaterArea
        .dest-water{ style:"top:#{destination.y-13}px;left:#{destination.x-17-9}px" }
      - else
        .dest-road{ style:"top:#{destination.y-13}px;left:#{destination.x-17-9}px" }

#events
  %ul
    - @events.each do |event|
      %li= event.event
