#board

  #token{ style: token_style }
    = image_tag( "tokens/#{@current_investigator.code_name}.png" )

  - @prof_positions.each do |position|
    .prof{ style: prof_token_style( position ) }
      = image_tag( 'tokens/professor.png' )

  - @aval_destinations.each do |destination|
    = link_to "/maps?zone_id=#{destination.id}&zone_class=#{destination.class}", method: :put do
      - if destination.class == WWaterArea
        .dest-water{ style:"top:#{destination.y-13}px;left:#{destination.x-17-9}px" }
      - else
        .dest-road{ style:"top:#{destination.y-13}px;left:#{destination.x-17-9}px" }

#infos
  #investigator
    #investigator-gen
      = t( "investigators.#{@current_investigator.code_name}" )
      %br
      = "SAN : #{@current_investigator.san}"
    #investigator-actions
      = link_to t( '.go_psy' ), go_psy_actions_url, method: :patch
      #investigator-event-table
        = label_tag 'Table 1'
        = radio_button_tag 'event_table', 1, @current_investigator.event_table == 1, class: :event_table
        = label_tag 'Table 2'
        = radio_button_tag 'event_table', 2, @current_investigator.event_table == 2, class: :event_table
    #investigator-items
      - %w( weapon sign medaillon spell ).each do |elem|
        %div{ id: icon_div_id( elem ) }
  %hr
  #events
    %ul
      - @events.each do |event|
        - if event.event == '*'
          %hr.event_separator
        - else
          %li= event.event
