#board

  - @investigators.each do |investigator|
    #token{ style: token_style( investigator.current_location ) }
      = image_tag( "tokens/#{investigator.code_name}.png" )

  .prof{ style: token_style( @prof_location ) }
    = image_tag( 'tokens/professor.png' )

  - @monsters_positions.each do |monster|
    .monster{ style: token_style( monster.location ) }
      = image_tag( "tokens/#{monster.code_name}.jpg" )

  - if @prof_can_move
    - @aval_destinations.each do |destination|
      = link_to move_g_game_board_professor_actions_url( g_game_board_id: @game_board.id, zone_id: destination.id, zone_class: destination.class ) do
        - unless destination.city?
          .dest-water{ style:"top:#{destination.y-13}px;left:#{destination.x-17-9}px" }
        - else
          .dest-road{ style:"top:#{destination.y-13}px;left:#{destination.x-17-9}px" }
