%h1 Listing g_game_boards

%table.table
  %thead
    %tr
      %th Game board id
      %th Status
      %th
      %th

  %tbody
    - @g_game_boards.each do |g_game_board|
      %tr
        %td= g_game_board.id
        %td= g_game_board.aasm_state
        %td= link_to 'Play', g_game_board_play_url( g_game_board_id: g_game_board.id )
        %td= link_to 'Destroy', g_game_board, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New G game board', new_g_game_board_path
