- if @game_over
  - if @game_board.game_lost?
    %h2= 'Game lost'
  - else
    %h2= 'Game won'

#board
  = render partial: 'prof_map'

#infos
  #investigator
    = render partial: 'prof_info'

#log_summary
  = render partial: 'event_log_summaries'

= hidden_field_tag :game_board_id, @game_board.id
= hidden_field_tag :investigator_id, @current_investigator&.id
