- if @other_side_play
  = 'Waiting for other side to play'

- else

  = "Rendering inv_info, Board state = #{@game_board.aasm_state}"

  - if @inv_event
    = link_to 'Roll events', g_game_board_investigators_actions_roll_events_url( g_game_board_id: @game_board.id )
  - if @inv_special_event
    = link_to 'Resolve special events', special_event_g_game_board_investigators_action_url( g_game_board_id: @game_board.id, id: @current_investigator.id )

  - if @inv_move
    #investigator-gen
      = t( "investigators.#{@current_investigator.code_name}" )
      %br
      = "SAN : #{@current_investigator.san}"
    #investigator-actions
      = link_to t( '.go_psy' ), go_psy_g_game_board_investigators_action_url( g_game_board_id: @game_board.id, id: @current_investigator.id ) if @zone.city?
      #investigator-event-table
        = label_tag 'Table 1'
        = radio_button_tag 'event_table', 1, @current_investigator.event_table == 1, class: :event_table
        = label_tag 'Table 2'
        = radio_button_tag 'event_table', 2, @current_investigator.event_table == 2, class: :event_table
    #investigator-items
      - %w( weapon sign medaillon spell ).each do |elem|
        %div{ id: icon_div_id( elem ) }
