#board
  = render partial: 'map/prof_map'

  - @cities.each do |city|
    .token.prof-fake-position{ style: token_style( city ), city_id: city.id }
      -#= image_tag( 'tokens/professor.png' )

#infos
  #investigator
    = t( '.inv_turn', inv_name: @game_board.asked_fake_cities_investigator.translated_name )
    %br
    = t( '.info', count: @nb_cities )
    %br
    = submit_tag :valider, id: 'prof-fake-position-submit-button', disabled: 'disabled'

= hidden_field_tag :game_board_id, @game_board.id
= hidden_field_tag :nb_cities, @nb_cities

= hidden_field_tag :last_fake_positions_codes_names, [ @prof.last_fake_position_1_code_name, @prof.last_fake_position_2_code_name ].compact.to_json