- @destroyed_cities.each do |city|
  .token{ style: token_style( city.current_location, city.token_rotation ) }
    = image_tag( 'tokens/destroyed_city.jpg' )

- @investigators.each do |investigator|
  .token.investigator-token{ style: token_style( investigator.current_location, investigator.token_rotation ), inv_id: investigator.id }
    = image_tag( "tokens/#{investigator.code_name}.png" )
    .investigator-info{ id: "investigator-#{investigator.id}-info" }
      = investigator_info_string( investigator )

.token.prof_position{ style: token_style( @prof_location, @prof.token_rotation ) }
  = image_tag( 'tokens/professor.png' )

.token{ style: token_style( @nyog_sothep_location, @nyog_sothep_location_rotation ), class: nyog_sothep_class }
  = image_tag( 'tokens/nyogsothep_s.jpg' )

- @monsters_positions.each do |monster|
  .token{ style: token_style( monster.current_location, monster.token_rotation ) }
    = image_tag( "tokens/#{monster.code_name}.jpg" )