#prof-gen
  = t( '.professeur' )
  %br
  = "HP : #{@prof.hp}"
#prof-items
  - @prof_monsters.each do |monster|
    .monster-icon

      %span.remove-monster-icon
        %i.fa.fa-close{ 'aria-hidden' => 'true' }

      .monster-picture{ monster_id: monster.id }
        - if can_breed_monster( monster )
          = link_to monster_breed_g_game_board_professor_actions_url( g_game_board_id: @game_board.id, monster_id: monster.id ) do
            - image_tag( "tokens/#{monster.code_name}.jpg" )
        - else
          = image_tag( "tokens/#{monster.code_name}.jpg" )
        .monster-info{ id: "monster-selector-#{monster.id}-info" }
          = t( 'encounter.' + monster.code_name + '.helper' )

- if @prof_choose_attack
  %br
  = link_to t( 'maps.show.prof_attack', investigator_name: @inv_to_attack.translated_name ),
    attack_g_game_board_professor_actions_url( g_game_board_id: @game_board.id, investigator_id: @inv_to_attack.id )
  = link_to t( 'maps.show.prof_dont_attack' ), dont_attack_g_game_board_professor_actions_url( g_game_board_id: @game_board.id )

- if @nyog_sothep_invocation_possible
  = link_to t( '.invoke_nyog_sothep' ), invoke_nyog_sothep_g_game_board_professor_actions_path( g_game_board_id: @game_board.id )

= link_to t( '.dont_move' ), dont_move_g_game_board_professor_actions_path( g_game_board_id: @game_board.id ), class: 'btn btn-warning', role: 'button'