
- @investigators.each do |investigator|
  .token.investigator-token{ style: token_style( investigator.current_location ) }
    = image_tag( "tokens/#{investigator.code_name}.png" )

.token{ style: token_style( @prof_location, important: true ) }
  = image_tag( 'tokens/professor.png' )

- @monsters_positions.each do |monster|
  .token{ style: token_style( monster.location ) }
    = image_tag( "tokens/#{monster.code_name}.jpg" )