- if @prof_move || @prof_breed
  #prof-gen
    = t( '.professeur' )
    %br
    = "HP : #{@prof.hp}"
  #prof-items
    - @prof_monsters.each do |monster|
      - if can_breed_monster( monster )
        = link_to monster_breed_g_game_board_professor_actions_url( g_game_board_id: @game_board.id, monster_id: monster.id ) do
          = image_tag( "tokens/#{monster.code_name}.jpg" )
      - else
        = image_tag( "tokens/#{monster.code_name}.jpg" )

    - if @prof_breed
      %br
      = link_to t( '.dont_breed' ), dont_breed_g_game_board_professor_actions_url( g_game_board_id: @game_board.id )
