#board
  = render partial: 'prof_map'

#infos
  #investigator
    = render partial: 'prof_info'

  %hr
  #events
    %ul
      - @events.each do |event|
        - if event.event == '*'
          %hr.event_separator
        - else
          %li= event.event

= hidden_field_tag :game_board_id, @game_board.id
= hidden_field_tag :investigator_id, @current_investigator&.id
