#board
  = render partial: 'prof_map'
  = render partial: 'prof_dest'

#infos
  #investigator
    = render partial: 'prof_info'

  %hr
  #events-area
    %ul
      - @events.each do |event|
        - if event.message == '*'
          %hr.event_separator
        - else
          %li= event.message

= hidden_field_tag :game_board_id, @game_board.id
= hidden_field_tag :investigator_id, @current_investigator&.id
